@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

:root {
  --main-theme-color: #111;
  --dark-black-color: #040301;
  --yellow-color: #d8b54f;
}

* {
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: var(--main-theme-color);
  font-family: 'Barlow Condensed', sans-serif;
}

.container-fluid {
  display: flex;
  flex-direction: column;

  --bs-gutter-x: 0;
}

.header {
  background-color: var(--dark-black-color);
}

.header #nav li a {
  color: var(--yellow-color);
  letter-spacing: 4px;
}

.logo-img {}

.img-section img {
  width: 100%;
  height: 100vh;
}

.text-section {
  letter-spacing: 10px;
  padding: 2rem 3.5rem;
  margin: 2rem 0;
  box-shadow:
    0 0 0.2rem #fff,
    0 0 0.2rem #fff,
    0 0 2rem #d8b54f,
    0 0 0.8rem #d8b54f,
    0 0 2.8rem #d8b54f,
    inset 0 0 1.3rem #d8b54f;
}

.main-text {
  font-size: 72px;
}

.sub-text {
  font-size: 40px;
  letter-spacing: 22px;
}

.shadowText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #d8b54f,
    0 0 82px #d8b54f,
    0 0 92px #d8b54f,
    0 0 102px #d8b54f,
    0 0 151px #d8b54f;
  animation: pulsate 1.5s infinite alternate;
}

@keyframes pulsate {
  100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #d8b54f,
      0 0 80px #d8b54f,
      0 0 90px #d8b54f,
      0 0 100px #d8b54f,
      0 0 150px #d8b54f;
  }

  0% {
    text-shadow:
      0 0 4px #ffeeb9,
      0 0 8px #ffe492,
      0 0 12px #c3a753,
      0 0 20px #d8b54f,
      0 0 45px #d8b54f,
      0 0 55px #d8b54f,
      0 0 70px #d8b54f,
      0 0 80px #d8b54f;
  }
}

.h6-text {
  letter-spacing: 14px;
  font-size: 12px;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.main-content {
  width: 80%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-around;
}

/* ------------------------ Homepage Content Begins  -------------------------- */
.poke-card {
  background-color: #191919;
}

.card {
  background-color: #191919;
  border-color: #191919;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0 auto;
}

.image img {
  width: 100%;
}

.desc {
  display: flex;
  justify-content: right;
  font-size: large;
  gap: 1rem;
}

.card-img {
  filter: drop-shadow(2px 3px 12px #d8b54f);
}

.comment-btn {
  color: #d8b54f;
  font-size: small;
  font-weight: 600;
  letter-spacing: 1px;
}

.bi-heart {
  border-color: #d8b54f;
}

.bi-heart-fill {
  color: #d8b54f;
}

.modal-content {
  background-color: var(--yellow-color);
}

.footer {
  padding: 1rem;
  color: var(--yellow-color);
}
